<ion-header>
  <ion-toolbar>
    <ion-title>confirmação do pedido</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-item>
      <ion-label color="primary" position="floating">Qual o CEP :</ion-label>
      <ion-input #cep></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button color="primary" expand="block" (click)="buscar(cep)">Buscar</ion-button>
    </div>
  </div>
</ion-content>