<ion-header>
  <ion-toolbar>
    <ion-title>
      Hot Dog Carrara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>O lugar certo para encontrar seu Hot Dog</h1>
  </div>
  <ion-card>
      <ion-card-header>
        <ion-img src="assets/hotdog.jpg"></ion-img>
        <ion-card-subtitle>HotDog Simples</ion-card-subtitle>
        <ion-card-title>R$:3.99</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Esse lanche vem com Salcinha,Katchup e Mostarda.
        <ion-button expand="block">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
        <img src="../assets/doghot.jpg"/>
      <ion-card-header>
        
          
        <ion-card-subtitle>HotDog Completo</ion-card-subtitle>
        <ion-card-title>R$:5.99</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Esse lanche vem com Salcinha,Purê de batata,batata palha e vinagrete e molho de alho para o acompanhamento.
        <ion-button name="card">Comprar</ion-button>
      
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      
      <ion-card-header>
        <ion-img src="assets/completo.jpg"></ion-img>
    
          <ion-card-subtitle>HotDog Moda do Chefe</ion-card-subtitle>
          <ion-card-title>R$:6.99</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Esse lanche vem 2 Salsichas,Purê De Batata,Batata Palha,Milho,Vinagrete,Cheddar,Maionese,Ketchup e Mostarda.
        <ion-button expand="block">Comprar</ion-button>
      </ion-card-content>
    
    </ion-card>
</ion-content>


